In [9]:
import sqlite3

In [10]:
con = sqlite3.connect('./test_db')

In [4]:
cur = con.cursor()

In [5]:
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'name_a', 10.5)
1
name_a
10.5
(3, 'c_update', 3.14)
3
c_update
3.14
(100, 'name_z', 99.9)
100
name_z
99.9

In [6]:
insert_sql = 'INSERT INTO person VALUES(?, ?, ?)'

In [7]:
insert_param = (100, 'name_z', 99.9)

In [8]:
cur.execute(insert_sql, insert_param)

IntegrityError: UNIQUE constraint failed: person.id

In [ ]:
con.commit()

In [ ]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [ ]:
con.close()
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})

ProgrammingError: Cannot operate on a closed database.

In [11]:
cur.execute("UPDATE person SET name = 'changed_name' WHERE id = 1")

In [12]:
con.commit()

In [13]:
cur.execute("DELETE FROM person WHERE size IS NULL")

In [ ]:
sqlacodegen sqlite:///test_db > test_model.py